@font-face {
  font-family: "Computer Modern Typewriter";
  src: url("fonts/computer-modern-typewriter/cmuntt.woff") format("woff");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Computer Modern Typewriter";
  src: url("fonts/computer-modern-typewriter/cmuntb.woff") format("woff");
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Computer Modern Typewriter";
  src: url("fonts/computer-modern-typewriter/cmunit.woff") format("woff");
  font-weight: normal;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: "Computer Modern Typewriter";
  src: url("fonts/computer-modern-typewriter/cmuntx.woff") format("woff");
  font-weight: bold;
  font-style: italic;
  font-display: swap;
}

body {
  font-family: "Computer Modern Typewriter", "CMU Typewriter Text", monospace;
}
